@charset "utf-8";
/* CSS Document */
.pie_list {
  width:850px;
}

.info_list {
  width:265px;
}

.hero-unit .prepic-content {
  clear:right;
  background:#808080;
  padding:5px 20px;
}
.hero-unit .prepic-brief {
  font-size: 14px;
  height: 20px;
  margin-top: 10px;
}

.prepic-brief span {
  margin-right: 20px;
}